.container-header{
  width: 100%;
  height: 50px;
<<<<<<< HEAD
  background-color: purple;
}

.container-section-promo{
  display: flex;
=======
  background-color: yellow;
}

.container-section-promo{
  display: flex-end;
>>>>>>> 2c5191ebaf57a572fb180bd9a81d425dfa61e48c
  width: 70%;
  margin: 100px auto;
  align-items: center;
  justify-items: center;
}

.items-article{
<<<<<<< HEAD
  width: 40%;
  height: 100px;
  background-color: blue;
=======
  width: 90%;
  height: 100px;
  background-color: brown;
}

.publish {
  /* container styles if any */
}

.publish h3 {
  font-family: "Alegreya", serif;
  font-size: 40px;
  line-height: 48px;
  color: #025157;
}

.publish > p {
  font-size: 16px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 20px;
}

.publish > form {
  display: flex;
}

.publish > form p {
  color: #025157;
  margin-right: 18px;
>>>>>>> 2c5191ebaf57a572fb180bd9a81d425dfa61e48c
}